<% include partials/header%>
<h2>closet</h2>
 <div class="carousel shirts">
    <a class="carousel-item" href="#one!"><img src="https://i.pinimg.com/564x/1a/51/f8/1a51f8c4487733f614cf276ec230673c.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://i.pinimg.com/564x/7f/bd/04/7fbd04da9f38179d80d414e96dc1cf92.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
  </div>
   <div class="carousel pants">
    <a class="carousel-item" href="#one!"><img src="https://i.pinimg.com/564x/2a/46/aa/2a46aa5feab5e48d2f77147743986a89.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://i.pinimg.com/564x/31/80/6c/31806c6af7a7fe53ba05d69414ed1821.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
  </div>
<% include partials/footer%>