<% include partials/header%>
    <ul class="collection">
      <li class="collection-item"><a href="/"><i class="fa fa-arrow-left"></i></a>  Closet</li>
    </ul>
 <div class="carousel shirts">
    <a class="carousel-item" href="#one!"><img src="https://i.pinimg.com/564x/1a/51/f8/1a51f8c4487733f614cf276ec230673c.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://i.pinimg.com/564x/7f/bd/04/7fbd04da9f38179d80d414e96dc1cf92.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://i.pinimg.com/564x/1f/04/fa/1f04fadf1cf62dada012dd173f2839e9.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://i.pinimg.com/564x/04/0d/a6/040da65f294f5810804707fb3d9be14c.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://i.pinimg.com/564x/4d/5c/3a/4d5c3a6d2176ae05aa161bd7610bf5dc.jpg"></a>
  </div>
   <div class="carousel pants">
    <a class="carousel-item" href="#one!"><img src="https://i.pinimg.com/564x/2a/46/aa/2a46aa5feab5e48d2f77147743986a89.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://i.pinimg.com/564x/31/80/6c/31806c6af7a7fe53ba05d69414ed1821.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://i.pinimg.com/564x/96/54/a7/9654a719da24fbaed8433550947d28d6.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://i.pinimg.com/564x/ac/fe/ab/acfeaba3e1b7390804e46e9708b86bf0.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://i.pinimg.com/564x/96/54/a7/9654a719da24fbaed8433550947d28d6.jpg"></a>
  </div>
     <div class="carousel shoes">
    <a class="carousel-item" href="#one!"><img src="https://i.pinimg.com/564x/2a/99/5d/2a995d0f3ad0d2d8135997242a553d5c.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://dsw.scene7.com/is/image/DSWShoes/394169_079_ss_01?$pdp-image$"></a>
    <a class="carousel-item" href="#three!"><img src="https://s-media-cache-ak0.pinimg.com/originals/7c/73/ef/7c73ef6102450c34579cbda30e7d46c2.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://i.pinimg.com/564x/1d/94/66/1d9466626ed30a1aa93aa97dc970d21e.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://i.pinimg.com/564x/b7/b3/f4/b7b3f422fc593c47792fca747e1b8f53.jpg"></a>
  </div>
<% include partials/footer%>