<% include partials/header%>
 <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
  </div>
    <div class="collection">
      <a href="#!" class="collection-item">Loves -></a>
    </div>

  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="https://i.pinimg.com/564x/48/54/94/48549475efb909b04fba33a9e8ad00a8.jpg"></a>
  </div>
    <div class="collection">
      <a href="#!" class="collection-item">Closet -></a>
    </div>



<% include partials/footer%>