<% include partials/header%>
    <ul class="collection">
      <li class="collection-item"><a href="/"><i class="fa fa-arrow-left"></i></a>  Inventory</li>
    </ul>

    <div id="inventory">
      <span class="one">
        <img class="box" src="https://i.pinimg.com/564x/1a/51/f8/1a51f8c4487733f614cf276ec230673c.jpg">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
      </span>
       <span class="one">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
        <img class="box" src="https://i.pinimg.com/564x/7f/bd/04/7fbd04da9f38179d80d414e96dc1cf92.jpg">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
      </span>
       <span class="one">
        <img class="box" src="https://i.pinimg.com/564x/1f/04/fa/1f04fadf1cf62dada012dd173f2839e9.jpg">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
      </span>
        <span class="one">
        <img class="box" src="https://i.pinimg.com/564x/04/0d/a6/040da65f294f5810804707fb3d9be14c.jpg">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
        <img class="box" src="https://i.pinimg.com/564x/4d/5c/3a/4d5c3a6d2176ae05aa161bd7610bf5dc.jpg">
      </span>
      <span></span>
    </div>
<% include partials/footer%>