<% include partials/header%>
    <ul class="collection">
      <li class="collection-item"><a href="/"><i class="fa fa-arrow-left"></i></a>  Inventory</li>
    </ul>

    <div id="unit9">
      <h2>Dog photos</h2>
      <span class="one">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
      </span>
       <span class="one">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
      </span>
       <span class="one">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
        <img class="box" src="http://www.petmd.com/sites/default/files/small-dog-breeds.jpg">
      </span>
      <span></span>
    </div>
<% include partials/footer%>