<% include partials/header%>
    <ul class="collection">
      <li class="collection-item"><a href="/"><i class="fa fa-arrow-left"></i></a>  Loves</li>
    </ul>
<div>
</div>
<div class="carousel loves">
    <div class="carousel ">
    <a class="carousel-item outfit" href="#one!">
   
        <img src="https://i.pinimg.com/564x/1a/51/f8/1a51f8c4487733f614cf276ec230673c.jpg">
        <img src="https://i.pinimg.com/564x/31/80/6c/31806c6af7a7fe53ba05d69414ed1821.jpg">
        <img src="https://dsw.scene7.com/is/image/DSWShoes/394169_079_ss_01?$pdp-image$">
  
    </a>
    <a class="carousel-item outfit" href="#two!">
    
        <img src="https://i.pinimg.com/564x/7f/bd/04/7fbd04da9f38179d80d414e96dc1cf92.jpg">
        <img src="https://i.pinimg.com/564x/31/80/6c/31806c6af7a7fe53ba05d69414ed1821.jpg">
        <img src="https://i.pinimg.com/564x/b7/b3/f4/b7b3f422fc593c47792fca747e1b8f53.jpg">
 
    </a>
    <a class="carousel-item outfit" href="#three!">
  
        <img src="https://i.pinimg.com/564x/1a/51/f8/1a51f8c4487733f614cf276ec230673c.jpg">
        <img src="https://i.pinimg.com/564x/96/54/a7/9654a719da24fbaed8433550947d28d6.jpg">
        <img src="https://dsw.scene7.com/is/image/DSWShoes/394169_079_ss_01?$pdp-image$">
      
    </a>
    <a class="carousel-item outfit" href="#four!">
       
            <img src="https://i.pinimg.com/564x/1a/51/f8/1a51f8c4487733f614cf276ec230673c.jpg">
            <img src="https://i.pinimg.com/564x/ac/fe/ab/acfeaba3e1b7390804e46e9708b86bf0.jpg">
            <img src="https://i.pinimg.com/564x/1d/94/66/1d9466626ed30a1aa93aa97dc970d21e.jpg">
        
    </a>
    <a class="carousel-item outfit" href="#five!">
      
            <img src="https://i.pinimg.com/564x/1a/51/f8/1a51f8c4487733f614cf276ec230673c.jpg">
            <img src="https://i.pinimg.com/564x/96/54/a7/9654a719da24fbaed8433550947d28d6.jpg">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/7c/73/ef/7c73ef6102450c34579cbda30e7d46c2.jpg">
       
    </a>
  </div>
</div>
<% include partials/footer%>