* {box-sizing: border-box}

.fa-cloud{
  padding:5%;
  text-align: center;
}
.fa-cloud:first-child{
  padding-left: 10%;
}
.fa-angle-double-down{
  padding-left: 35%;
  margin-top: -20px;
  font-size: 200px !important;
  color: black;
  cursor: pointer;
}

#inventory .box{
  border: solid;
  display: inline-block;
  width: 30%;
  height: 150px;
  margin: 1.66%;
  float: left;
  
}

#inventory span{
  border: solid;
  display: block;
  clear: left;
}

.collection-item .dropdown-button{
  float: right;
  margin-top: -10px;
  
}


