* {box-sizing: border-box}

.fa-cloud{
  padding:5%;
  text-align: center;
}
.fa-cloud:first-child{
  padding-left: 10%;
}
.fa-angle-double-down{
  padding-left: 35%;
  margin-top: -20px;
  font-size: 200px !important;
  color: black;
  cursor: pointer;
}

#unit9 h2{
  font-family: 'Playfair Display', serif;
  /*font-family: 'Abril Fatface', cursive;*/
  font-weight: 900px;
  opacity: .8;
  padding-bottom: 20px;
}
#unit9 .box{
  border: solid;
  display: inline-block;
  width: 30%;
  max-height: auto;
  margin: 1.66%;
  float: left;
  
}

#unit9 span{
  border: solid;
  display: block;
  clear: left;
}



