* {box-sizing: border-box}

.fa-cloud{
  padding:5%;
  text-align: center;
}
.fa-cloud:first-child{
  padding-left: 10%;
}
.fa-angle-double-down{
  padding-left: 35%;
  margin-top: -20px;
  font-size: 200px !important;
}



